.font-grotesque {
    font-family: 'Darker Grotesque', sans-serif;
}

.font-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

.font-raleway {
    font-family: 'Raleway', sans-serif;
}

.font-quicksand {
    font-family: 'Quicksand', sans-serif;
}
