.font-grotesque {
    font-family: 'Darker Grotesque', sans-serif;
}

.font-condensed {
    font-family: 'Roboto Condensed', sans-serif;
}

.font-raleway {
    font-family: 'Raleway', sans-serif;
}

.font-quicksand {
    font-family: 'Quicksand', sans-serif;
}
.font-inconsolata {
    font-family: 'Inconsolata', monospace;
}
body {
    background: #f5f5f5;
}
*:hover,
*:focus,
*:active
{
    outline: none;
    box-shadow: none !important;
    -webkit-appearance: none;
}
.form-control:focus {

}
.form-control:focus + .input-group-append {
    border: 1px solid rgb(128, 189, 255);
    border-left: 0;
}
.form-control.red {
    border: 1px solid firebrick;
}
.form-control.green + .input-group-append {
    border: 1px solid darkgreen;
    border-left: 0;
}
.form-control.green {
    border: 1px solid darkgreen;
}
.form-control.red + .input-group-append {
    border: 1px solid firebrick;
    border-left: 0;
}
.input-group-text {
    border-radius: 0 !important;
    background: transparent;
    border-left: 0 !important;
    box-shadow: none !important;
}
.input-group-append {
    border: 1px solid #ddd;
    border-left: 0;
    color: rgba(0, 0, 0, .45);
    padding: 0 5px;
}
.input-group-append i {
    margin-top: 10px;
}
.tiny-text {
    font-size: 0.85em;
}
.big-text {
    font-size: 1.4em;
}
.large-text {
    font-size: 2em;
}
.container:hover {
    box-shadow: 0 1px 4px 2px #ddd;
}
